@use "./variables" as *;

.comment {
  width: 100%;
  background-color: $White;
  padding: 1.6rem;
  margin-bottom: 1.6rem;
  border-radius: 1rem;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, min-content);


  &__votes-container {
    display: flex;
    background-color: $Very-ligh-gray;
    width: max-content;
    padding-inline: 1.6rem;
    padding-block: 1.2rem;
    border-radius: 1rem;
    gap: 1.6rem;
    align-items: center;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  &__upvote,
  &__downvote {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__votes {
    font-weight: $Font-medium;
    color: $Moderate-blue;
    font-size: 1.6rem;
  }
  &__info-container {
    display: flex;
    gap: 1.6rem;
    align-content: center;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }
  &__avatar-container {
    width: max-content;
    display: grid;
    place-items: center;
  }
  &__avatar {
    width: 3.2rem;
    height: 3.2rem;
  }
  &__username-container {
    display: flex;
    gap: 1.6rem;
    align-items: center;
    justify-content: center;
  }
  &__username {
    font-weight: $Font-heavy;
    font-style: normal;
    font-size: 1.6rem;
    color: $Dark-blue;
  }
  &__tag {
    font-style: normal;
    color: $White;
    background-color: $Moderate-blue;
    padding: .6rem;
    font-weight: $Font-medium;
    border-radius: .5rem;
  }
  &__date {
    color: $Grayish-Blue;
    display: grid;
    place-items: center;
    font-size: 1.6rem;
  }
  &__options-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    justify-self: end;
  }
  &__reply, &__edit, &__delete {
    border: none;
    background-color: transparent;
    font-family: inherit;
    color: $Moderate-blue;
    font-weight: $Font-medium;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.6rem;
    margin: 0;
  }
  &__delete {
    color: $Soft-Red;
  }
  &__text-container {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    margin-block: 1.6rem;
  }
  &__text {
    color: $Grayish-Blue;
    font-size: 1.6rem;
    line-height: 1.5;
  }
}
