@use "./variables" as *;

.comment {
  width: min(100%, 75rem);
  background-color: $White;
  padding: min(4.3vw, 2.6rem); //1.6rem;
  margin-bottom: min(4.3vw, 2rem);
  border-radius: 1rem;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, min-content);
  @media (min-width: $breakpoint1) {
    grid-template-columns: repeat(2, max-content) 1fr;
    grid-template-rows: repeat(2, min-content);
  }

  &__text {
    color: $Grayish-Blue;
    font-size: 1.6rem;
    line-height: 1.5;

    &--highlight {
      color: $Moderate-blue;
      font-weight: $Font-medium;
      cursor: pointer;
    }
  }
}
