@use "./variables" as *;

.comment {
  background-color: $White;
  padding: 1.6rem;
  margin-bottom: 1.6rem;
  border-radius: 1rem;

  &__votes-container {
    display: flex;
    background-color: $Very-ligh-gray;
    width: max-content;
    padding: 1.6rem;
    border-radius: 1rem;
    gap: 1.5rem;
    align-items: center;
  }
  &__upvote,
  &__downvote {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__votes {
    font-weight: $Font-heavy;
    color: $Moderate-blue;
    font-size: 1.5rem;
  }
  &__info-container {
    display: flex;
    gap: 1.6rem;
    align-content: center;
  }
  &__avatar-container {
    width: max-content;
    display: grid;
    place-items: center;
  }
  &__avatar {
    width: 3.2rem;
    height: 3.2rem;
  }
  &__username-container {
    display: flex;
    gap: 1.6rem;
    align-items: center;
    justify-content: center;
  }
  &__username {
    font-weight: $Font-heavy;
    font-style: normal;
    font-size: 1.55rem;
  }
  &__tag {
    font-style: normal;
    color: $White;
    background-color: $Moderate-blue;
    padding: .6rem;
    font-weight: $Font-medium;
    border-radius: .5rem;
  }
  &__date {
    color: $Grayish-Blue;
    display: grid;
    place-items: center;
  }
}
